NEXT_PUBLIC_USDA_API_KEY=
GEMINI_DEV_API_KEY=

STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
GARMIN_CLIENT_ID=
GARMIN_CLIENT_SECRET=
WITHINGS_CLIENT_ID=
WITHINGS_CLIENT_SECRET=

NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=
